@model Entities.Concrete.BookRecord

    @{
        ViewBag.Title = "Lend";
        Layout = "~/Views/Shared/Layout.cshtml";
    }

    <h2>Lend</h2>

    <form class="form-group" method="post">
        <div style="margin-top:15px">
            <label>Üye Id</label>
            @Html.TextBoxFor(x => x.MemberId, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Kitap Id</label>
            @Html.TextBoxFor(x => x.BookId, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Personel ID </label>
            @Html.TextBoxFor(x => x.StaffId, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Kitap Alış Tarihi </label>
            <input type="text" class="form-control" name="BuyingDate" value="@DateTime.Now.ToShortDateString()"/>
        </div>
        <div style="margin-top:15px">
            <label>Kitap İade Tarihi </label>
            <input type="text" class="form-control" name="GivingDate"value="@DateTime.Now.AddDays(7).ToShortDateString()" />
        </div>

        <div style="margin-top:15px">
            <button class="btn btn-info" id="btn1"> Kitabı Ödünç Ver</button>
            <input type="hidden" value="False" name="RecordStatus" />
        </div>
    </form>