@using Entities.Concrete
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2><mark>Üyeler</mark> </h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Üye Kitap Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.LastName</td>
            <td>@item.Education</td>
            <td><a href="/Member/DeleteMember/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Member/GetMember/@item.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Member/MembersBooks/@item.Id" class="btn btn-default" style="background-color:#461c70 ; color:wheat">Kitap Geçmişi</a></td>

        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page}))
<a href="/Member/AddMember/" class="btn btn-primary">Yeni Üye Ekle</a>