@model Entities.Concrete.Book

@{
    ViewBag.Title = "GetBook";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
<div class="form-group">
    <div style="margin:20px"></div>
    <label>Kitap Id</label>
    @Html.TextBoxFor(y => y.Id, new { @class = "form-control" })
    <br />
    <label>kitap Adı</label>
    @Html.TextBoxFor(y => y.Name, new { @class = "form-control" })
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    <label>Yazar</label>
    @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    <label>Basım Yılı</label>
    @Html.TextBoxFor(y => y.ReleaseYear, new { @class = "form-control" })
    <br />
    <label>Yayın Evi</label>
    @Html.TextBoxFor(y => y.Publisher, new { @class = "form-control" })
    <br />
    <label>Sayfa Sayısı</label>
    @Html.TextBoxFor(y => y.NumberOfPages, new { @class = "form-control" })
    <br />
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
</div>
}