@model Entities.Concrete.Admin
@{
    ViewBag.Title = "GetAdmin";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateAdmin", "Setting", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(c => c.Id)
        @Html.TextBoxFor(c => c.Id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        <br />
        @Html.LabelFor(c => c.Password)
        @Html.TextBoxFor(c => c.Password, new { @class = "form-control" })
        <br />
        @Html.LabelFor(c => c.Claim)
        @Html.TextBoxFor(c => c.Claim, new { @class = "form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}